body {
	font-family: sans-serif;
	color: #36454f;
	background-color: #faf9f6;
}

.main-title {
	text-align: center;
	padding-bottom: 20px;
}

.schedule-grid {
	display: flex;
}

.time-labels {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80px;
	border-right: 1px solid #eee;
	margin-top: 40px;
}

.time-label {
	height: 60px;
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
}

.time-label:first-of-type {
	border-top: 2px solid #eee;
}

.technician-columns {
	display: flex;
	flex: 3;
}

.technician-column {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.technician-name {
	flex: 1;
	align-content: center;
	text-align: center;
	border-bottom: 2px solid #eee;
	max-height: 40px;
}

.time-slot {
	height: 60px;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.time-slot:hover {
	background-color: #eae9e5;
}

.work-order-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f0f8ff;
	padding: 5px;
	border: 1px solid #eee;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: background-color 0.3s ease;
	z-index: 1;
}

.work-order-block:hover {
	background-color: #d0e4f2;
}

.work-order-location {
	font-size: 12px;
	font-weight: bold;
}

.work-order-info {
	font-size: 12px;
}
